includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src
        - database
        - routes
        - config

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        -
            message: '#Parameter [a-zA-Z0-9\\_]+ $time of static method Carbon\Carbon::parse() expects DateTimeInterface|string|null, array|string|null given.#'
            path: src/Http/Controllers/MailViewerController.php
        -   
            message: '#Unable to resolve the template type TKey in call to function collect#'
            path: src/Models/MailViewerItem.php
        -   
            message: '#Unable to resolve the template type TValue in call to function collect#'
            path: src/Models/MailViewerItem.php
            

    excludePaths:

    checkMissingIterableValueType: false